{% extends get_template('base.tpl','flexeval') %}

{% set gdpr = get_variable("GDPR")%}
{% block content %}

<h2 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> GCU (Terms of Use)</h2>


{% if get_variable("GCU")["text"] is not none%}
{{get_variable("GCU")["text"]}}
{% else %}
<p>
These terms and conditions outline the rules and regulations for the use of this website, located at {{make_url('/')}}.
By accessing this website we assume you accept these terms and conditions. Do not continue to use this website if you do not agree to take all of the terms and conditions stated on this page.
Our Terms and Conditions were created with the help of the Terms And Conditions Generator and the Free Terms & Conditions Generator.
</p>

<p>
The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions.
"The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing our country's law.
Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
</p>


<span>Topics</span>
<ul>

  <li>Cookies</li>
  <li>License</li>
  <li>Hyperlinking to our Content</li>
  <li>iFrames</li>
  <li>Content Liability</li>
  <li>Your Privacy</li>
  <li>Reservation of Rights</li>
  <li>Removal of links from our website</li>
  <li>Disclaimer</li>
  <li>How to contact us?</li>

</ul>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Cookies</h4>
<p>
We employ the use of cookies.
By accessing this website, you agreed to use cookies in agreement with the The Company's Privacy Policy.
Most interactive websites use cookies to let us retrieve the user’s details for each visit.
Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> License</h4>
<p>
Unless otherwise stated, The Company and/or its licensors own the intellectual property rights for all material on this website.
All intellectual property rights are reserved.
You may access this from this website for your own personal use subjected to restrictions set in these terms and conditions.
</p>

<span>You must not:</span>
<ul>
  <li>Republish material from this website</li>
  <li>Sell, rent or sub-license material from this website</li>
  <li>Reproduce, duplicate or copy material from this website</li>
  <li>Redistribute content from this website</li>
</ul>

<p>
You may found personal data from differents people that have consent to the use of their personal data on this website.
This data are protected by the previous restrictions.
This website is generated dynamicaly for you, and you must not:
</p>

<ul>
  <li>Share your credential, </li>
  <li>Share this website's url, </li>
  <li>Share this website's content, on any support.</li>
</ul>

<span>
<strong>This Agreement shall begin on the date hereof.</strong>
</span>

<p>
Parts of this website may offer an opportunity for users to post and exchange opinions, information and files in certain areas of the website.
The terminology "Comments" refere to the previously defined opinions, informations and files.
</p>

<p>
The Company does not filter, edit, publish or review Comments prior to their presence on the website.
Comments do not reflect the views and opinions of The Company,its agents and/or affiliates.
Comments reflect the views and opinions of the person who post their views and opinions.
To the extent permitted by applicable laws, The Company shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
The Company reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.
</p>

<p>

<span>You warrant and represent that:</span>

<ul>
    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
    <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
    <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy;</li>
    <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
</ul>

<p>
You hereby grant The Company a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Hyperlinking to our Content</h4>
<p>
Any link to our Website required a prior written approval; with consideration any privacy policy that apply to the personal data that can be found on this website.
</p>

<span>Approved organizations may hyperlink to our Website as follows:</span>

<ul>
    <li>By use of the uniform resource locator being linked to; or</li>
    <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
</ul>

<p>
No use of The Company's logo or other artwork will be allowed for linking absent a trademark license agreement.
</p>


<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> iFrames</h4>
<p>
Without prior approval and written permission, you may not create frames around our Webpages.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Content Liability</h4>

<p>
We shall not be hold responsible for any content that appears on your Website.
You agree to protect and defend us against all claims that is rising on your Website.
No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Your Privacy</h4>
<p>
Please read Privacy Policy
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Reservation of Rights</h4>
<p>
We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
</p>


<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Removal of links from our website</h4>
<p>
If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment.
We will consider requests to remove links but we are not obligated to or so or to respond to you directly.

We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Disclaimer</h4>
<p>

To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:

    limit or exclude our or your liability for death or personal injury;
    limit or exclude our or your liability for fraud or fraudulent misrepresentation;
    limit any of our or your liabilities in any way that is not permitted under applicable law; or
    exclude any of our or your liabilities that may not be excluded under applicable law.

The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.

As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How to contact us?</h4>
<p>
  If you have any questions about our Terms of Use, please do not hesitate to contact us, by the following means:
  <ul>
    {%if gdpr["data_controller"]["contact"]["email"] is not none%}<li>{{gdpr["data_controller"]["contact"]["email"]}}</li>{% endif %}
    {%if gdpr["data_controller"]["contact"]["other"] is not none%}<li>{{gdpr["data_controller"]["contact"]["other"]}}</li>{% endif %}
  </ul>
</p>

<p>Source : <a href="https://www.termsandconditionsgenerator.com">https://www.termsandconditionsgenerator.com</a>

{% endif %}
<h2 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Privacy Policy</h2>

<p>
  This privacy policy, will explain, how your personal data that we collect from you when you use our website are used.
</p>

<span>Topics</span>
<ul>

  <li>Who we are?</li>
  <li>What data we collect?</li>
  <li> How do we collect your data?</li>
  <li>How will we use your data?</li>
  <li>How do we store your data?</li>
  <li>What are your data protection rights?</li>
  <li>What are cookies?</li>
  <li>How do we use cookies?</li>
  <li>What types of cookies do we use?</li>
  <li>How to manage your cookies?</li>
  <li>Privacy policies of other websites.</li>
  <li>How to contact us?</li>
  <li>How to contact the appropriate authority?</li>
</ul>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Who we are?</h4>
<p>
  The data are gathered in the name of {{gdpr["data_controller"]["identity"]}}.
  That you can contact by the following means:
  <ul>
    {%if gdpr["data_controller"]["contact"]["email"] is not none%}<li>{{gdpr["data_controller"]["contact"]["email"]}}</li>{% endif %}
    {%if gdpr["data_controller"]["contact"]["other"] is not none%}<li>{{gdpr["data_controller"]["contact"]["other"]}}</li>{% endif %}
  </ul>

  {% if len(gdpr["data_collection"]["recipients"]) > 0 %}
  The data can be communicate to the following recipients:
  <ul>
    {% for recipient in gdpr["data_collection"]["recipients"]%}
    <li>{{recipient}}</li>
    {% endfor %}
  </ul>

  {% endif %}
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> What data we collect?</h4>
<p>
We collect the following data:
<ul>
  {% for data in gdpr["data_collection"]["data"]%}
  <li>{{data}}</li>
  {% endfor %}
</ul>
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How do we collect your data?</h4>
<p>
  You directly provide most of the data we collect. We collect data and process data when you:
  <ul>
    <li> Register online, </li>
    <li> Voluntarily complete a survey, </li>
    <li> Use or view our website via your browser’s cookies. </li>
  </ul>

  We may also receive your data indirectly from the following sources:
  <ul>
    <li>If someone enter your email into this website in order to send you an invitation to join this website.</li>
    <li>If someone enter your email instead of it's own email.</li>
  </ul>
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How will we use your data?</h4>
<p>
  {{gdpr["data_collection"]["purpose"]}}
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How do we store your data?</h4>
<p>
  Your data is securely store.
  {% if gdpr["data_conservation"]["security_measures"] is not none %}
    {{gdpr["data_conservation"]["security_measures"]}}
  {% endif %}

  {% if gdpr["data_conservation"]["duration"] is not none %}
    Your data will be keep during: {{gdpr["data_conservation"]["duration"]}}.
  {% endif %}

  {% if gdpr["data_conservation"]["criterions_duration"] is not none %}
    Your data will be keep until: {{gdpr["data_conservation"]["criterions_duration"]}}
  {% endif %}
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> What are your data protection rights?</h4>
<p>
  We would like to make sure you are fully aware of all of your data protection rights.
  Every user is entitled to the following:
  <ul>
    <li>The right to access - You have the right to request Our Company for copies of your personal data.
      We may charge you a small fee for, this service.</li>
    <li> The right to rectification - You have the right to request that we correct any, information you believe is inaccurate.
      You also have the right to request us to complete information you believe is incomplete.
    </li>

    <li>The right to erasure — You have the right to request that we erase your personal data, under certain conditions.
    </li>

    <li>The right to restrict processing - You have the right to request that we restrict the
  processing of your personal data, under certain conditions.</li>

    <li>The right to object to processing - You, have the right to object to our processing,
  of your personal data, under certain conditions.</li>

    <li>The right to data portability - You have the right to request that we transfer the
  data that we have collected to another organization, or directly to you, under certain conditions.
  </li>

  </ul>

  If you make a request, we have one month to respond to you.
  If you would,like to exercise any of these rights, use one of the following methods:

  {% if gdpr["data_protection_officer"]["contact"]["email"] is not none%}
  <li>Email,us at: {{gdpr["data_protection_officer"]["contact"]["email"]}}</li>
  {% endif %}

  {% if gdpr["data_protection_officer"]["contact"]["phone_number"] is not none%}
  <li>Call,us: {{gdpr["data_protection_officer"]["contact"]["phone_number"]}}</li>
  {% endif %}

  {% if gdpr["data_protection_officer"]["contact"]["other"] is not none%}
  <li>Or: {{gdpr["data_protection_officer"]["contact"]["other"]}}</li>
  {% endif %}

</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> What are cookies?</h4>
<p>
  Cookies are text files placed on your computer to collect standard,,Internet log information and,
  visitor behavior information. When you visit our websites, we may collect,information from you,
  automatically through cookies or similar technology.
  For further information, visit <a href="aboutcookies.org">aboutcookies.org</a>.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How do we use cookies?</h4>
<p>
  We uses cookies in a range of ways to improve your experience on our website, including:
  <ul>
    <li>Keeping you signed in,</li>
    <li>Save some temporary variables link to our profile.</li>
  </ul>
</p>


<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> What types of cookies do we use?</h4>
<p>
  There are a number of different types of cookies, however, our website uses:
  <ul>
    <li>Functionality — We uses these cookies so that we recognize you on our website
      and remember your previously selected preferences, and some technical information.
    </li>
  </ul>
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How to manage your cookies?</h4>
<p>
  You can set your browser not to accept cookies, and the above website tells you, how to remove,
  cookies from your browser.
  However, our website may not function as a result.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> Privacy policies of other websites.</h4>
<p>
  This website contains links to other websites. Our privacy policy applies only to, our website, so if you click on
  a link to another website, you should read their privacy policy.
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How to contact us?</h4>
<p>
  If you have any questions about our privacy policy, the data we hold, on you, or you would,like to exercise one
  of your data protection, rights, please do not hesitate to contact us.
  <ul>
    {% if gdpr["data_protection_officer"]["contact"]["email"] is not none%}
    <li>Email,us at: {{gdpr["data_protection_officer"]["contact"]["email"]}}</li>
    {% endif %}

    {% if gdpr["data_protection_officer"]["contact"]["phone_number"] is not none%}
    <li>Call,us: {{gdpr["data_protection_officer"]["contact"]["phone_number"]}}</li>
    {% endif %}

    {% if gdpr["data_protection_officer"]["contact"]["other"] is not none%}
    <li>Or: {{gdpr["data_protection_officer"]["contact"]["other"]}}</li>
    {% endif %}

  </ul>
</p>

<h4 class="bd-content-title"> <img src="{{get_asset('/img/svg_icon/chevron-right.svg','flexeval')}}" alt=">" /> How to contact the appropriate authority?</h4>
Should you wish to report a complaint or if you feel that we has not addressed your concern in a satisfactory manner,
you may contact your local Information Commissioner’s Office: <a href="https://edpb.europa.eu/about-edpb/board/members_en">https://edpb.europa.eu/about-edpb/board/members_en</a>

</p>

<p>Source : <a href="https://gdpr.eu/privacy-notice/">https://gdpr.eu/privacy-notice/</a>

<p>
{% if get_variable("validate") %}
  <form action="{{make_url('/legal_terms/ok')}}" method="post" class="form-example">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="legalterms" required>
      <label class="form-check-label" for="legalterms">I acknowledge having read and accept the GCUs and the privacy policy.</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
{% else %}
<a href="{{make_url('/')}}"> Back</a>
{% endif %}
</p>

{% endblock %}
